<header>
    {{!-- Navigation --}}
    {{link-to 'Neu' "alarms.new" tagName="button"}}
</header>

<div id="main" class="container">
    {{outlet}}
</div>

<footer>
    {{#link-to "index"}}
        Home
    {{/link-to}}
    {{!-- 2nd Level Navigation --}}
</footer>